/*
 * This isn't needed at all, but we just center everything to make the demo
 * easier to see in an empty page
 */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: fit-content;
  min-width: fit-content;
  padding: 16px;
}
