/**
 * This CSS file used for demoing the TShirt Forms example in JSFiddle.
 * Check out all of the examples on GitHub.
 *
 * https://github.com/stephencookdev/react-t-shirt-forms/tree/master/examples
 */

.myFormContainer {
  width: 600px;
  padding: 24px 32px;
  font-family: monospace;
}

.myInput {
  display: block;
  width: 100%;
  border: 0;
  background-color: inherit;
  color: #222;
  border-bottom: 1px solid #ccc;
  font: inherit;
  font-size: 24px;
  padding: 8px 0;
  outline: none;
}
.myInput:hover {
  border-color: #bbb;
}
.myInput:focus {
  border-bottom-width: 2px;
  padding-bottom: 7px;
  border-color: #e94;
  color: #e94;
}

.myCustomEmail .myInput {
  border-color: #b22;
  border-width: 5px;
}

/*
 * This isn't needed at all, but we just center everything to make the demo
 * easier to see in an empty page
 */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: fit-content;
  min-width: fit-content;
  padding: 16px;
}
