.myFormContainer {
  width: 600px;
  padding: 24px 32px;
  font-family: monospace;
}

.myInput {
  display: block;
  width: 100%;
  border: 0;
  background-color: inherit;
  color: #222;
  border-bottom: 1px solid #ccc;
  font: inherit;
  font-size: 24px;
  padding: 8px 0;
  outline: none;
}
.myInput:hover {
  border-color: #bbb;
}
.myInput:focus {
  border-bottom-width: 2px;
  padding-bottom: 7px;
  border-color: #e94;
  color: #e94;
}

.myCustomEmail .myInput {
  border-color: #b22;
  border-width: 5px;
}
